<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Signup</title>
    </head>
    <body>
    <form id="signup" name="signup" method="post" action="signup">
        <label for="email">Email Address
        <input class="text" name="email" type="email" />
        </label>
        <label for="firstName">Firstname
        <input name="firstName" type="text" />
        </label>
        <label for="lastName">Lastname
        <input name="lastName" type="text" />
        </label>
        <label for="password">Password
        <input name="password" type="password"/></label>
        <input class="btn" type="submit" value="Sign Up" />
    </form>
    </body>
</html>